.place {
    position: relative;
}

.place img {
    width: 100%;
}

.place__info {
    position: absolute;
    left: 278px;
    top: 25%;
    max-width: 600px;
    background: rgba(158, 164, 167, 0.5);
    backdrop-filter: blur(30px);
    padding: 38px 19px 28px 28px;
}

.place__title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1;
    color: #FFFFFF;

    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
}

.legend__teaser {
    margin: 150px auto;
    max-width: 1669px;
}

.legend__teaser:last-child {
    margin: 80px auto;
}

.teaser__container video {
    width: 100%;
}

.teaser__title {
    margin-bottom: 54px;
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    display: inline-block;
    color: #0084CE;
    transform: translateX(150px);
}

.teaser__title::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: 0;
    width: 110%;
    height: 21px;
    background-color: #B1E3FF;;
}

.teaser__container {
    position: relative;
}

.teaser__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    outline: 0;
    border: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    color: #0084CE;

    transition: background-color .3s linear, color .3s linear, border-radius .3s linear;
}

.teaser__btn:hover {
    border-radius: 30%;
    background-color: #0084CE;
    color: #fff;
}

.teaser__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 430px;
    width: 509px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.teaser__center img {
    width: 100%;
}

.teaser__lock {
    font-weight: 600;
    font-size: 64px;
    line-height: 1;
    text-align: center;
    color: #FFFFFF;
}

.teaser__description {
    text-align: center;
}

.teaser__game__btn {
    color: #0084CE;
    padding: 15px 60px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    cursor: pointer;

    transition: background-color .3s linear, color .3s linear;
}

.teaser__game__btn:hover {
    background-color: #0084CE;
    color: #fff;
}

.review__items {
    display: flex;
    flex-direction: column;
}

.review__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;
}

.review__avatar {
    width: 7%;
}

.review__info {
    width: 91%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.review__rating {
    margin-right: 20px;
}

.review__form {
    padding: 20px 10px 20px 30px;
    height: 100px;
    width: 100%;
    background-color: #0084CE;
    margin-bottom: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review__form-stars {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.review__form-star {
    font-size: 30px;
}

.review__form-textarea {
    padding: 10px 20px;
    width: 67%;
    height: 90px;
    resize: none;
}

.review__form-btn {
    font-size: 20px;
    width: 10%;
    background-color: white;
    height: 90px;
    border: none;
}